@import "/src/mixins.scss";

.messages_page {
    width: 100%;
    height: calc(95vh - var(--appbarHeight));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
    margin: 20px 0;


    @include tabAndBelow {
        flex-direction: column;
        justify-content: start;
        padding-left: 40px;
        padding-right: 40px;
    }

    @include mobile {
        padding-left: 15px;
        padding-right: 15px;
    }

    .width_wrapper {
        width: 100%;
        height: 100%;
        max-width: var(--maxWidth);
        display: flex;
        align-items: center;
        justify-content: center;

        .messages_container {
            height: 100%;
            width: 100%;
            display: flex;
            box-shadow: 1px 1px 7px 0px #0000000F;


            @include tabAndBelow {
                display: none;
            }
        }
    }
}