@import '/src/mixins.scss';

.home_sale_section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 90px;

    .sale_list_container {
        margin: 40px 0;
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: start;
        align-items: center;
    }
}