.date_label {
    font-weight: 400;
    font-size: 15px;
    color: var(--black);
}

.date_field {
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
    box-sizing: border-box;
    width: 100%;
}