@import '/src/mixins.scss';

.forgot_password {
    position: relative;
    width: 100%;
    margin-top: -76px;

    .container {
        position: absolute;
        padding: 55px 100px;
        width: 580px;
        background-color: white;
        border-radius: 10px;
        z-index: 9;
        transition: all ease-in-out 0.5s;
        left: 50%;
        transform: translateX(- 50%);
        margin-top: 210px;

        @include tabAndBelow {
            margin-top: var(--appbarHeight);
            padding: 25px 40px;
            width: 380px;
        }


        @include smallMobile {
            width: 300px;
        }
    }

    .fotgot_password_heading {
        display: flex;
        justify-content: center;
        font-weight: 700;
        font-size: 30px;
        margin-bottom: 15px;

        @include smallMobile {
            font-size: 22px;
        }
    }


    .buttons {
        display: flex;
        gap: 20px;

        @include smallMobile {
            flex-direction: column;
            gap: 10px;
        }
    }
}